body {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
  font-family: $f-opensans-regular;
}
h1{
  font-family: $f-opensans-light;
  font-size: $h3-font-size;
  text-align: center;
  margin-bottom: 1em;
}
