@font-face {
  font-family: 'OpenSans_Bold';
  src: url('./fonts/Open_Sans/OpenSans-Bold.eot'); /* IE9 Compat Modes */
  src: local('OpenSansBold'),
       url('./fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Open_Sans/OpenSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Open_Sans/OpenSans-Bold.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans_Italic';
src: url('./fonts/Open_Sans/OpenSans-Italic.eot'); /* IE9 Compat Modes */
  src: local('OpenSansItalic'),
       url('./fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Open_Sans/OpenSans-Italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Italic.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Open_Sans/OpenSans-Italic.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans_Light';
src: url('./fonts/Open_Sans/OpenSans-Light.eot'); /* IE9 Compat Modes */
  src: local('OpenSansLight'),
       url('./fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Open_Sans/OpenSans-Light.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Light.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Open_Sans/OpenSans-Light.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
src: url('./fonts/Open_Sans/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: local('OpenSans'),
       url('./fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Open_Sans/OpenSans-Regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans_SemiBold';
  src: url('./fonts/Open_Sans/OpenSans-SemiBold.eot'); /* IE9 Compat Modes */
  src: local('OpenSansSemiBold'),
       url('./fonts/Open_Sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/Open_Sans/OpenSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('./fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/Open_Sans/OpenSans-SemiBold.svg#OpenSans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
