$f-opensans-bold: "OpenSans_Bold";
$f-opensans-light: "OpenSans_Light";
$f-opensans-italic: "OpenSans_Italic";
$f-opensans-semiBold: "OpenSans_SemiBold";
$f-opensans-regular: "OpenSans";


/*FONT-SIZES*/
$h1-font-size: 3.375rem;       //54px
$h2-font-size: 2.25rem;        //36px
$h3-font-size: 1.688rem;       //27px
$h4-font-size: 1.5rem;         //24px
$h5-font-size: 1.25rem;        //20px

/*Space*/
$sep-side-common: 10px;
$container-corp-sidepad-mobile:0;

/*Colors*/
$main-color: #e3e3e3;
